.home {

  .hb-woo-product {
    &:hover {
      border: 1px solid $lightgray;
    }
    &-details {
      h3 {
        letter-spacing: .5px;
        line-height: 20px;
      }
  
      .woo-cats {
        margin-top: .5rem;
      }
    }
  }
}
