.home,
.products,
.related {

  .hb-woo-product {
    margin: 1%;
    padding: 0;

    &.col-3 {
      width: 24%;
    }

    &.col-4 {
      width: 32%;
    }

    &:hover {
      border: 1px solid $lightgray;
    }

    &-details {
      max-width: 100%;

      h3 {
        font-weight: 600;
        letter-spacing: .5px;
        line-height: 20px;
        padding: .5rem;
        text-align: justify;
      }

      .woo-cats {
        display: none;
        margin-top: .5rem;
      }
    }

    .price {
      color: $red !important;
      float: initial;
      padding: .5rem;
      position: initial;

      del {
        color: $del-price-color !important;
      }
    }

    .like-holder {
      bottom: .5rem;
      right: .5rem !important;
      top: initial !important;
    }
  }
}
